@using Umbraco.Web
@model ForgottenPasswordViewModel

@using (Html.BeginUmbracoForm<AuthSurfaceController>("HandleForgottenPassword", null, new { @class = "forgot-password", @id = "js-forgot-password" }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h4>Forgot Password?</h4>
    <div class="col_full">
        @Html.LabelFor(m => m.EmailAddress)
        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control required not-dark" })
        @Html.ValidationMessageFor(m => m.EmailAddress)
    </div>
    <div class="col_full">
        <button class="button button-3d button-black nomargin" id="forgotpassword-form-submit" name="forgotpassword-form-submit" value="forgotpassword">Remind Me!</button>
        <img class="icon-spin-forgot-form" src="~/images/preloader.gif" alt="Preloader" style="display:none;">
    </div>
    <span id="target-forgot-result" style="color:#ff0042; font-weight:400; display:none;"></span>
}
<div class="col_full" id="js-success-forgot-pass" style="display:none;">
    <h4>An email had been sent with details how to reset your password!</h4>
    <button class="button button-3d nomargin" id="forgotpassword-form-submit" name="forgotpassword-form-submit" data-dismiss="modal">Close</button>
</div>
