@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Umbraco.Web
@model ResetPasswordViewModel
<div id="partial-replace-div">
    @using (Html.BeginUmbracoForm<AuthSurfaceController>("HandleResetPassword", null, new { @class = "reset-password", @id = "js-reset-password-form" }, FormMethod.Post))
    {
        if (Model.PasswordChangedOk)
        {
            <div class="col_half">
                <span class="text-success">Your password had successfully changed, an email had sent to you.</span>
            </div>
        }
        else
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.Hidden("Lang", Culture)
            <h4>Reset Password</h4>
            <div class="col_half">
                @Html.LabelFor(m => m.EmailAddress)
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control required not-dark" })
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
            <div class="col_half">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control required not-dark", @id = "js-resetpassword" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="col_half">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control required not-dark", @id = "js-resetconfirmpass" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <div class="col_full">
                <button class="button button-3d nomargin" id="resetpassword-form-submit">Reset Password</button>
            </div>
            if (!ViewData.ModelState.IsValid)
            {
                ModelState error;
                ViewData.ModelState.TryGetValue("FormGenericError", out error);
                if (error != null)
                {
                    foreach (var e in error.Errors)
                    {
                        <span style="color:#ff0042; font-weight:400;">@e.ErrorMessage</span>
                    }
                }
            }
        }
    }
</div>
