@using System.Web.Optimization
@using Constants = TaxisBeat.Code.Constants
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@
@section ScriptsBottom
{
    @Scripts.Render("~/bundles/loginregister")
}
@Html.CachedPartial("Partials/Common/FixHeaderCanvas", null, Constants.CacheLg)
@*<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="col_one_third nobottommargin">
                <div class="well well-lg nobottommargin">
                    @Html.Action("LoginIndex", "AuthSurface")
                </div>
            </div>
            <div class="col_two_third col_last nobottommargin">
                <h3>Don't have an Account? Register Now.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, vel odio non dicta provident sint ex autem mollitia dolorem illum repellat ipsum aliquid illo similique sapiente fugiat minus ratione.</p>
                @Html.Action("RegisterIndex", "AuthSurface")
            </div>
        </div>
    </div>
</section>*@

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">
                <ul class="tab-nav tab-nav2 center clearfix">
                    <li class="inline-block"><a href="#tab-login">Είσοδος</a></li>
                    <li class="inline-block"><a href="#tab-register">Εγγραφή</a></li>
                </ul>
                <div class="tab-container">
                    <div class="tab-content clearfix" id="tab-login">
                        <div class="panel panel-default nobottommargin">
                            <div class="panel-body" style="padding: 40px;">
                                @Html.Action("LoginIndex", "AuthSurface")
                                @*<form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">

                                    <h3>Login to your Account</h3>

                                    <div class="col_full">
                                        <label for="login-form-username">Username:</label>
                                        <input type="text" id="login-form-username" name="login-form-username" value="" class="form-control" />
                                    </div>

                                    <div class="col_full">
                                        <label for="login-form-password">Password:</label>
                                        <input type="password" id="login-form-password" name="login-form-password" value="" class="form-control" />
                                    </div>

                                    <div class="col_full nobottommargin">
                                        <button class="button button-3d button-black nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
                                        <a href="#" class="fright">Forgot Password?</a>
                                    </div>

                                </form>*@
                            </div>
                        </div>
                    </div>
                    <div class="tab-content clearfix" id="tab-register">
                        <div class="panel panel-default nobottommargin">
                            <div class="panel-body" style="padding: 40px;">
                                <h3>Register for an Account</h3>
                                @Html.Action("RegisterIndex", "AuthSurface")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- #content end -->
