@using System.Web.Optimization
@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    // Get basic design settings from the homepage
    ContentModels.Home home = Model.Content.Site() as ContentModels.Home;
    var colorTheme = Umbraco.GetPreValueAsString(home.ColorTheme);
    var font = Umbraco.GetPreValueAsString(home.Font);
    var siteDesciption = Model.Content.GetPropertyValue("siteDescription", true);
    var siteKeywords = Model.Content.GetPropertyValue("siteMeta", true);
}
<!DOCTYPE html>
<html dir="ltr" lang="el-GR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="@siteDesciption">
    <meta name="author" content="TaxisBeat.gr" />

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    @Styles.RenderFormat("<link href=\"{0}\" type=\"text/css\" charset=\"utf-8\" rel=\"stylesheet\"/>", "~/bundles/css")

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Model.Content.Name - @home.Sitename</title>
    @RenderSection("Header", required: false)

    <!-- AdSense Google -->
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5782763883934594",
            enable_page_level_ads: true
        });
    </script>

</head>

<body class="stretched">

    <div id="wrapper" class="clearfix">
        <header id="header">
            <div id="header-wrap">
                <div class="container clearfix">
                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                    <div id="logo">
                        @if (home.SiteLogoRetina != null && !string.IsNullOrEmpty(home.SiteLogoRetina.Url))
                        {
                            <a href="/" class="retina-logo" data-dark-logo="@home.SiteLogoRetina.Url">
                                <img src="@home.SiteLogoRetina.Url" alt="@home.Sitename">
                            </a>
                        }
                        @if (home.SiteLogo != null && !string.IsNullOrEmpty(home.SiteLogo.Url))
                        {
                            <a href="/" class="standard-logo" data-dark-logo="@home.SiteLogo.Url">
                                <img src="@home.SiteLogo.Url" alt="@home.Sitename">
                            </a>
                        }
                        else
                        {
                            <a class="nav-link nav-link--home nav-link--home__text logo-text" href="/">@home.Sitename</a>
                        }
                    </div>
                    <div>
                        <div class="form-process" id="js-logging-in"></div>
                        <div id="js-member-loggedin" style="display: none;">
                            <div id="top-account" class="dropdown">
                                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="icon-user"></i>
                                    <span id="js-memberName"></span>
                                    <i class="icon-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <li><a href="" class="profilepage" data-hash="tab-profile">To Προφίλ Μου</a></li>
                                    <li><a href="" class="profilepage" data-hash="tab-feeds">Αιτήσεις<span class="badge">5</span></a></li>
                                    <li><a href="" class="profilepage" data-hash="tab-experiences">Νέα Αίτηση</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="/umbraco/Surface/AuthSurface/logout?pageId=@(CurrentPage.Id)" id="js-logout">Αποσύνδεση&nbsp;<i class="icon-signout"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <nav id="primary-menu">
                        @Html.Partial("~/Views/Partials/Navigation/TopNavigation.cshtml")
                        @*<div id="top-search">
                                <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                                <form action="search.html" method="get">
                                    <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                                </form>
                            </div>*@
                    </nav>
                </div>
            </div>
        </header>

        @RenderBody()

    </div>
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    @Scripts.Render("~/bundles/libs")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" charset=\"utf-8\"></script>", "~/bundles/libs/moment")
    @Scripts.Render("~/bundles/validation")
    @Scripts.Render("~/bundles/taxisbeat")
    @RenderSection("ScriptsBottom", false)
    <script>
        var currentPageId = @(CurrentPage.Id);
        var globalLang = '@Culture';
        checkIfLoggedIn();

        $(function () {
            $("#side-navigation").tabs({ show: { effect: "fade", duration: 400 } });
        });
    </script>
    <!-- Zoho Chat -->
    <script type="text/javascript">
        var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq ||
            { widgetcode: "1ad9a84e853888c7f3d8251687f357125fb3ce50732e4f332e097df3c4411370", values: {}, ready: function () { } };
        var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true;
        s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t); d.write("<div id='zsiqwidget'></div>");
    </script>
</body>
</html>
