@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Core
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    // Get basic design settings from the homepage
    ContentModels.Home home = Model.Content.Site() as ContentModels.Home;
    var colorTheme = Umbraco.GetPreValueAsString(home.ColorTheme);
    var font = Umbraco.GetPreValueAsString(home.Font);
}
<!DOCTYPE html>
<html dir="ltr" lang="el-GR">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="@Url.Content("~/css/umbraco-starterkit-style.css")" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="TaxisBeat.gr" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="/css/responsive.css" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Model.Content.Name - @home.Sitename</title>
    @RenderSection("Header", required: false)
    <!-- AdSense Google -->
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5782763883934594",
            enable_page_level_ads: true
        });
    </script>

</head>

<body class="stretched dark">

    <div id="wrapper" class="clearfix">
        <header id="header" class="transparent-header dark full-header" data-sticky-class="not-dark">
            <div id="header-wrap">
                <div class="container clearfix">
                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                        <div id="logo">
                        @if (home.SiteLogo != null && !string.IsNullOrEmpty(home.SiteLogo.Url))
                        {
                            <a href="index.html" class="standard-logo" data-dark-logo="@home.SiteLogo.Url">
                                <img src="@home.SiteLogo.Url" alt="@home.Sitename">
                            </a>
                            <a href="index.html" class="retina-logo" data-dark-logo="@home.SiteLogo.Url">
                                <img src="@home.SiteLogo.Url" alt="@home.Sitename">
                            </a>
                        }
                        else
                        {
                            <a class="nav-link nav-link--home nav-link--home__text logo-text" href="/">@home.Sitename</a>
                        }
                    </div>

                    <nav id="primary-menu">
                        @Html.Partial("~/Views/Partials/Navigation/TopNavigation.cshtml")
                        <div id="top-cart">
                            <a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>5</span></a>
                            <div class="top-cart-content">
                                <div class="top-cart-title">
                                    <h4>Shopping Cart</h4>
                                </div>
                                <div class="top-cart-items">
                                    <div class="top-cart-item clearfix">
                                        <div class="top-cart-item-image">
                                            <a href="#"><img src="images/shop/small/1.jpg" alt="Blue Round-Neck Tshirt" /></a>
                                        </div>
                                        <div class="top-cart-item-desc">
                                            <a href="#">Blue Round-Neck Tshirt</a>
                                            <span class="top-cart-item-price">$19.99</span>
                                            <span class="top-cart-item-quantity">x 2</span>
                                        </div>
                                    </div>
                                    <div class="top-cart-item clearfix">
                                        <div class="top-cart-item-image">
                                            <a href="#"><img src="images/shop/small/6.jpg" alt="Light Blue Denim Dress" /></a>
                                        </div>
                                        <div class="top-cart-item-desc">
                                            <a href="#">Light Blue Denim Dress</a>
                                            <span class="top-cart-item-price">$24.99</span>
                                            <span class="top-cart-item-quantity">x 3</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="top-cart-action clearfix">
                                    <span class="fleft top-checkout-price">$114.95</span>
                                    <button class="button button-3d button-small nomargin fright">View Cart</button>
                                </div>
                            </div>
                        </div><!-- #top-cart end -->
                        <!-- Top Search
    ============================================= -->
                        <div id="top-search">
                            <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                            <form action="search.html" method="get">
                                <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                            </form>
                        </div><!-- #top-search end -->

                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header><!-- #header end -->

        @RenderBody()

    </div>
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>


    <!-- External JavaScripts
    ============================================= -->
    @*<script src="@Url.Content("~/scripts/umbraco-starterkit-app.js")"></script>*@
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
    <script>
        $(function () {
            $("#side-navigation").tabs({ show: { effect: "fade", duration: 400 } });
        });
    </script>

    <!-- Zoho Chat -->
    <script type="text/javascript">
        var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq ||
            { widgetcode: "1ad9a84e853888c7f3d8251687f357125fb3ce50732e4f332e097df3c4411370", values: {}, ready: function () { } };
        var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true;
        s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t); d.write("<div id='zsiqwidget'></div>");
    </script>
</body>
</html>
