@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web;
@{
    var site = Model.Content.Site();
    var selection = site.Children.Where(x => x.IsVisible());
}
<ul>
    <li class="@Html.Raw(Model.Content.Id == site.Id ? "current" : "")">
        <a href="@site.Url"><div>@site.GetPropertyValue("pageTitle")</div></a>
    </li>
    @foreach (var item in selection)
    {
        <li class="@(item.IsAncestorOrSelf(Model.Content) ? "current" : null)">
            <a href="@item.Url"><div>@item.GetPropertyValue("pageTitle")</div></a>
        </li>
    }
</ul>